.content__{
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
    height: 40px;
    top: 150px;
    /* z-index: 999; */
}
.zuipin__wrapper {
    width: 1226px;
    height: 482px;
    margin: 0 auto;
    position: relative;
}
.zuipin__wrapper>.now__page{
    width: 1226px;
    height: 40px;
    margin-top: 55px;
    position: relative;
    margin-top: 20px;
}
.now__page>ul{
    float: left;
    position: relative;
    list-style: none;
    top: -170px;
    left: -710px;
}
.now__page li {
    float: left;
    line-height: 40px;
    font-size: 12px;
    color:#b0b0b0;
    margin-right: 5px;
    
}
.now__page li a{
    text-decoration: none;
    color:#b0b0b0;
}
div.now__page ul li a:hover{
    color: #ff3600;
    cursor: pointer;
}
div.now__page ul li:hover{
    color: #ff3600;
    cursor: pointer;
}
.clearfix{
    content: "";
    display: block;
    clear: both;
}
#goodSth {
    width: 100%;
    height: 546px;
    border: solid;
    padding-top: 34px;
    padding-bottom: 30px;
    background-color: #fff;
    margin-top: 150px;
}
.float-left {
    float: left;
}
.float-right{
    float: right;
}
.s-img {
    margin-right: 60px;
    margin-top: 42px;
    /* border: solid; */
}
.prev-btn {
    display: block;
    width: 72px;
    height: 20px;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    border: 1px solid #ccc;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: -28px -93px;
    cursor: pointer;
    top: -16px;
}
.swiper-container {
    height: 380px;
    overflow-y: hidden;
}
.g-scr {
    margin-bottom: 16px;
    color: #666;
}
.next-btn {
    display: block;
    width: 72px;
    height: 20px;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    border: 1px solid #ccc;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: -28px -132px;
    cursor: pointer;
}
div.s-img ul li.swiper-slide {
    height: 72px;
    height: 60px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    cursor: pointer;
}
.swiper-slide {
    width: 72px;
    height: 60px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.s-img ul li img {
    display: block;
    width: 72px;
}
.l-img {
    width: 482px;
    height: 482px;
    margin-right: 58px;
    overflow: hidden;
}
.l-img li.show {
    display: block;
    width: 482px;
    height: 482px;
    position: relative;
}
.l-img img {
    width: 482px;
    position: absolute;
    top: 50%;
    margin-top: -241px;
    display: block;
}
.g-item {
    width: 552px;
}
.g-title {
    font-size: 20px;
    color: #000;
    margin-bottom: 16px;
    font-weight: bold;
}
.height-1 {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
}
.g-item dl span {
    color: #666;
    margin-left: 40px;
}
.g-item dl dt {
    color: #ccc;
    margin: 16px 0;
}
.g-item dl dd {
    margin-bottom: 16px;
    color: #ccc;
}
.g-item dl .hy {
    margin-left: 0;
    font-size: 24px;
    font-weight: bold;
    color: #b60005;
}
.g-cx {
    height: auto;
    position: relative;
}
.tips-text-wrap:first-child {
    margin-top: -14px;
}
.tips-text-wrap {
    padding-left: 80px;
    padding-bottom: 10px;
    display: flex;
}
.icon-text {
    width: 36px;
    height: 20px;
    border: 1px solid red;
    background-color: #fff;
    color: #ff3600;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}
.tips-text {
    width: 430px;
    line-height: 20px;
    font-size: 12px;
    color: #333;
}
.g-pp ul{
    list-style: none;
}
.g-pp ul li {
    margin-right: 20px;
    float: left;
}
.g-pp ul li span.g-hl {
    color: #ccc;
    margin-left: 0;
}
.g-pp ul li span.g-con {
    margin-left: 45px;
    color: #333;
}
.jian {
    width: 20px;
    height: 30px;
    margin-left: 46px;
}
.text-num {
    width: 44px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    text-indent: 0;
    position: relative;
    top: 1px;
}
.plus {
    width: 20px;
    height: 30px;
}
.g-cart {
    cursor: pointer;
    width: 266px;
    background-color: #ff3600;
    text-align: center;
    line-height: 50px;
    color: #e9e9e9;
    font-size: 16px;
    background-image: url(../images/img/addcart.png);
    background-repeat: no-repeat;
    background-position: 60px center;
    transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
}
.g-cart:hover{
    color: #fff;
}
.g-fw {
    color: #ccc;
    font-size: 12px;
}
.g-fw ul{
    list-style: none;
}
.g-fw ul li {
    float: left;
    margin-right: 20px;
}